@page "/crust"
@rendermode InteractiveServer

<label>
    <input type="checkbox" @bind='pizza.Crust.Thin'/>
    Thin
</label>
<label>
    <input type="checkbox" @bind='pizza.Crust.Pan' />
    Pan
</label>
<label>
    <input type="checkbox" @bind='pizza.Crust.HandTossed' />
    HandTossed
</label>

<p>Crust Selection Checker</p>
<ul>
    @if (pizza.Crust.Thin)
    {
        <li>Thin</li>
    }
    @if(pizza.Crust.Pan)
    {
        <li>Pan</li>
    }
    @if(pizza.Crust.HandTossed)
    {
        <li>HandTossed</li>
    }
</ul>

@code {
    Pizza pizza = new Pizza();
}
