@page "/pizzaorder"
@rendermode InteractiveServer

<h3>PizzaDelivery</h3>

<label>
    <input type="checkbox" @bind='pizza.Pizza' />
    Pepperoni
</label>
<label>
    <input type="checkbox" @bind='pizza.ExtraCheese' />
    ExtraCheese
</label>
<label>
    <input type="checkbox" @bind='pizza.Ham' />
    Ham
</label>
<label>
    <input type="checkbox" @bind='pizza.Chicken' />
    Chicken
</label>

<p>Topping Selection Checker</p>
<ul>
    @if (pizza.Pepperoni)
    {
        <li>Pepperoni</li>
    }
    @if (pizza.ExtraCheese)
    {
        <li>ExtraCheese</li>
    }
    @if (pizza.Ham)
    {
        <li>Ham</li>
    }
    @if (pizza.Chicken)
    {
        <li>Chicken</li>
    }
</ul>

<p> Total Price: $@pizza.GetFinalPrice()</p>

@code {
    
    Pizza pizza = new Pizza();
    
}